* {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url(./html\ &\ css\ imagees/background2.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 500px;
    height: 600px;
    position: relative;
    left: 350px;
    top: 50px;
    margin: 6% auto;
    background: #ffffff;
    padding: 5px;
    border-radius: 20PX;
    overflow: hidden;
}
.wrapper h1{
    font-size: 50px;
    text-align: center;
    color:#6e5656;
}
.toggle-btn{
    padding: 10px px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #b69c9c,#8f7373);
    border-radius: 60px;
    transition: .5s;
}
.social-icons{
    margin:30px auto;
    text-align: center;
}
.social-icons img{
   width: 30px;
   margin: 0 10px;
   box-shadow: 0 0 20px 0 #ffffff;
   cursor: pointer;
    border-radius: 0%;

}

#login-box input[type=text], input[type="password"] {
    border-radius: 5px;
    height: 30px;
    width: 150px;
    font-size: 20px;

}
#login-box{
    display: block;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#login-box button{
    text-align: center;
}